.intro {
}
.intro__title {
  max-width: 830px;
  padding-top: 91px;
  font-family: "inter black 900", Arial, sans-serif;
  font-size: 55px;
  line-height: 58px;
  margin: 0;
}
.intro__quote {
  max-width: 738px;
  font-size: 25px;
  line-height: 34px;
  margin: 51px 0 0;
}
.intro__author {
  max-width: 732px;
  margin: 10px 0 0;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
}
.intro__presentation {
  max-width: 722px;
  margin: 30px 0 0;
  font-size: 17px;
  line-height: 26px;
}
@media screen and (min-width: 585px) and (max-width: 1024px) {
  .intro {
    margin: 0 24px;
  }
  .intro__title {
    font-size: 45px;
    line-height: 49px;
    max-width: 707px;
  }
}
@media screen and (min-width: 320px) and (max-width: 584px) {
  .intro {
    margin: 0 16px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
  .intro__quote {
    line-height: 30px;
  }
}
